#HeaderCarousel, #HeaderCarousel img{
    height: 50vh !important;
    min-height: 300px !important;
}


#HeaderCarousel img{
    object-fit: cover;
}

#HeaderCarousel h5, #HeaderCarousel p{
    text-shadow: 0rem 0rem 1rem black !important;
    color: white;
}

#HeaderCarousel{
    margin-top: 12px;
    margin-bottom: 20px;
}

form[role="search"]{
    position: relative;
}

#navSearch-results{
    width: 100%;
    right: 28%;
    position: absolute;
    background: white;
    height: auto;
    border-radius:5px;
    bottom: -30px;
    z-index: 3;
    max-height: 100px;
    overflow-y: scroll;
}